@model IEnumerable<ToDo>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome! TODO: List, Map</h1>
    @if(Model is not null) {
        int index = 0;
        @foreach(ToDo task in Model) {
            <h2>@index: @task.country</h2>
            if(task.cities is not null && task.cities.Length > 0) {
                int cindex = 0;
                @foreach(string city in task.cities) {
                    <p>@cindex: @city</p>
                    cindex++;
                }
            }
            index++;
        }
    }
</div>
